{% extends "layout.html" %}
{% block content %}
    <h1>
        <span STYLE="font-size: large; font-weight bold ; color: #000000"> 
            JOBS BEYOND BORDER
        </span>
    </h1>
    </br>
    <p style="background-color: #000000; border-radius:4px; font-size:16px; padding:15px; margin:5px;"> 
        <span STYLE="font-size: large; font-weight bold ; color: #ffffff"> 
            We, at JobsBeyondBorder recognize the hardships of the recruitment process and empathize with 
            international students in their pursuit of happiness in the professional 
            realm. Our mission is to create a user-friendly platform that connects 
            aspiring talent with companies and helps identify the right fit between 
            employers and employees, creating a memorable journey for students to identify 
            their place of belonging.</span></p>
{% endblock content %}
